* {
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6
}

.navbar{
/*     
    margin-right: 20px;
    margin-left: 20px; */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index:   1000;
    
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 40px;
    /* flex-direction: row; */
}

.logo{
    height: 50px;
    width: 50px;
    padding-top: 8px;
}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: inherit;
}


.nav-list{
    display: flex;
    gap: 20px;
}


.nav-list a{
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 1px; 
    text-transform: uppercase;   
    transition: color 0.3s;
}

.nav-list a:hover{
    color:#00704a;
}


.nav-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.find-store{
    font-weight: 580;
    font-size: 15px;
    padding-right: 40px;
    transition: color 0.3s;
}

.find-store:hover{
    color: #00704a;
}

.nav-right button{
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 580;
    border: 1px solid #000;
    
}

.btn-sign{
    cursor: pointer;
    transition: background 0.3s;
    background-color: white;
}

.btn-sign:hover{
    background: #f0f0f0;
}

.btn-join{
    background-color: black;
    color: white;
    transition: background 0.3s;
    cursor: pointer;
    /* transition: opacity 0.2s; */
}

.btn-join:hover {
    /* opacity: 3; */
    background: #646464;
}
/* 
section{
    align-items: center;
} */
.pre-main{
    /* height: 100px; */
    padding: 40px;
    background-color: #32462F;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.line{
    display: flex;
    gap: 20px;
}

.line p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    align-content: center  ;

}

.start{
    border: 2px solid white;
    background-color: #32462F;
    border-radius: 30px;
    color: white;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* letter-spacing: 1px; */
}


.start:hover{
    background-color: #058659;
}


.hero{
    margin-top: 30px;
}

.h-content{
    /* min-height: 200px; */
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #9E0025;
    align-items: stretch;
    
}

.hero-img{
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.hero-img img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.hero-text{
    width: 80%;
    color: white;
    padding: 80px 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text h2{
    max-width: 60%;
    display: block;
    margin: auto;   /*center the h2*/
    font-weight: 600;
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.hero-text p{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

 .btn-order{
    margin-top: 30px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #9E0025;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.btn-order:hover{
    background-color: rgb(94, 10, 10);
}


.h-content2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #A30834;
    align-items: stretch; 
    object-fit: cover;
}


.hero-text2{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;

}

.hero-text2 h2{
    font-weight: 600;
    font-size: 55px;
    display: block;
    margin: auto;
    max-width: 80%;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}


.hero-text2 p{
    font-weight: 500;
    font-size: 25px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 70%;
    margin-bottom: 30px;
}


.btn-more{
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #A30834;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.btn-more:hover{
    background-color: rgb(94, 10, 10);
}


.hero-img2{
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: stretch;
}

.hero-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-content3{
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: stretch;
    background-color: #006241;
    min-height: 550px;
}

.hero-img3{
    display: flex;
}

.hero-img3 img{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero-text3{
    color: white;
    margin: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text3 h2{
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 20px;
}


.hero-text3 p{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}


.btn-egift{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s;
}

.btn-egift:hover{
    background-color: #055238;
}

.h-content4{
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: stretch;
    background-color: #006241;
    min-height: 550px;
}

.hero-text4{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;

}

.hero-text4 h2{
    font-weight: 550;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 70%;
    display: block;
    margin: auto;
    text-align: center;
}

.hero-text4 p{
    font-weight: 500;
    font-size: 25px;
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}


.btn-order2{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s;
}

.btn-order2:hover{
    background-color: #055238;
}

.hero-img4{
    display: flex;
}

.hero-img4 img{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


.h-content5{
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: stretch;
    background-color: #006241;
    margin-bottom: 70px;
}

.hero-img5{
    display: flex;
}

.hero-img5 img{
    
}


.hero-text5{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;

}

.hero-text5 h2{
    font-weight: 550;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.hero-text5 p{
    font-weight: 500;
    font-size: 20px;
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}


.btn-joinnn{
    border: 1px solid white;
    border-radius: 25px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.2s;
}

.btn-joinnn:hover{
    background-color: #055238;
}


.par{

    max-width: 55%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: block;
    margin: auto;
    
}

.para p{
    font-weight: 600;
    font-size: 15px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.para2 p{
    font-weight: 550;
    font-size: 15px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

hr{
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 0 2px 5px 0px rgba(204, 203, 203, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.sec2{
    display: flex;
    gap: 30px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: 500;
    font-size: 19px;
    align-content: center;
    flex-wrap: wrap; 
}

.lc{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    /* justify-content: center; */
    color: gray;
    width: 100%;
    line-height: 2.8;
    
}

.val{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    /* justify-content5: center; */
    color: gray;
    width: 100%;
    line-height: 2.5;
}


.soc{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    /* justify-content: center; */
    color: gray;
    width: 80%;
    line-height: 2.5;
}


.land{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    /* justify-content: center; */
    color: gray;
    width: 100%;
    line-height: 2.5;
}


.or{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    /* justify-content: center; */
    color: gray;
    width: 100%;
    line-height: 2.5;
}


.icon {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.icon i {
    font-size: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: box-shadow 0.3s border-radius 0.3s;
}

.icon i:hover {
    /* color: #777a79; */
    border-radius: 50%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    color: gray;
}

.links{
    margin-bottom: 40px;
}

.links a{
    display: block;
    margin-left: 50px;
    line-height: 2.5;
    font-weight: 550;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.links a:hover{
    text-decoration: underline;
}

.cpy{
    margin-left: 50px;
    color: gray;
    font-size: 16px;
    margin-bottom: 20px;
}






